footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--main-bg-color);
    color: var(--second-font-color);
    font-weight: 300;
    padding-top: 1rem;
    font-size: 12px;
    margin-top: auto;
}

ul,
.links-logo {
    display: flex;
}

.socials {
    gap: 1rem;
    font-size: 24px;
}

.links {
    gap: 1rem;
}

.links-logo {
    justify-content: space-between;
    align-items: center;
}

footer .logo {
    color: var(--second-font-color);
    font-size: 20px;
}