nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

button {
    background-color: #2A9D8F;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 0.3rem 1.5rem;
    font: inherit;
}