:root {
    --main-bg-color: #2A9D8F;
    --second-bg-color: #1E1E1E;
    --third-bg-color: #264653;
    --main-font-color: #000000;
    --second-font-color: #FFFFFF;
    --third-font-color: #E76F51;
}