h2 {
font-size: 40px;
font-family: 'Oswald', sans-serif;
font-weight: 500;
}

h4 {
    font-weight: 500;
    margin-bottom: 10px;
}

.intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero {
    background-color: var(--second-bg-color);
    color: var(--second-font-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.hero p {
    font-size: 20px;
    font-weight: 300;
}

.presentation,
.presentation ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
