article {
    display: flex;
    flex-direction: column;
    background-color: var(--second-bg-color);
    padding: 1rem;
    border-radius: 16px;
    gap: 0.5rem;
    color: var(--second-font-color);
    max-width: 400px;
}

article img {
    border-radius: 14px;
}

article p {
    color: #cecccc;
    font-size: 12px;
    font-weight: lighter;
}